
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
}

/*--DEBUT du bloc CSS qui contient les éléments header et footer pour toutes les pages HTML--*/
header{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    height:6rem;
    line-height:3rem;
    background-color: #555555;
    align-items: center;
}

header h2{
    color:#fff;
    font-weight: bold;  
}

nav .nav-liste{
    display: flex;
}

nav {
    height:6rem;
    line-height:3rem;
}

nav .nav-liste .nav-item{
    cursor: pointer;
    height: 6rem;
    padding: 20px 30px 0 30px;
    transition: .4s;
}

nav .nav-liste .nav-item:hover{
    background: #e2a007;
}

nav .nav-liste .nav-links{
    color: #fff;
    font-weight: bold;
}

nav .navbar-deplier{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-deplier .bar{
    width: 40px;
    height: 5px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10rem;
}

header input:checked ~ nav .nav-liste{
    transform: translateY(0);
}

header input{
    display: none;
}


/* la partie footer */
footer a{
    color: black;
}

.pied{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid ;
    width: 85%;
    margin-left: 7%;
    align-items: center;
}
.icone-1{
    width: 30px;
}/*--FIN du bloc CSS qui contient les éléments header et footer pour toutes les pages HTML--*/

 

/*--La partie CSS qui sera appliquée au fichier page d'accueil.html--*/
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 0 2em 0;
}
.img{
    width: 350px;
    height:400px;
    clip-path: circle();
}

.principal-texte{
    display: inline-block;
    align-items: center;
    width: 500px;
    margin: 3px 0 3px 0;
}
 .texte{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vw 0 0 4vw;
 }

 main h3{
    width: 55%;
 }

 main .paragraphe{
    width: 100%;
    font-size: 17px;
    text-align: justify;
 }

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 2%;   
}

.button-btn1, .button-btn2,.button-btn3{
    display: block;
    width: 105px;
    height: 105px;
    background-color: rgb(255, 8, 8);
    clip-path: circle();
    padding: 40px 20px 20px 30px;
    margin: 5px; 
    font-weight: bold;
}
.button a {
    color: black;
}
.button-btn1{
    text-align: center;
}
.button-btn2{
    padding-right: 18%;
    background: rgb(255, 217, 0);
}

.button-btn3{
    padding-right: 20%;
    background-color: rgb(101, 101, 207);
}

/*--La partie CSS qui sera appliquée au fichier CV.html--*/
.structure{
    width: 80vw;
    position: relative;
    left: 10%;
    margin: 6% 0 0 0;
}
h1{
    width: 35vw;
    margin-bottom: 2vw;
}

.titre2{
    margin: 0% 0 8% 0;
    border-top: .1rem solid black;
}
.sous-titre{
    width: 50vw;
    margin: 1% 0 4% 0;
}
h5{
    width: 50vw;
    margin-bottom: 0.5%;
}
.petitpara{
    margin-top:0;
    margin-bottom: 3%;
}
.date1, .date2,.date3{
    position: absolute;
    top: 10%;
    left: 86%;
    width:12vw ;
}
.date2{
    top: 25%;
    left: 85%;
}
.date3{
    top: 50%;
    left: 84%;
}

.forme1{
    display: flex;
}

/*--La parti CSS qui sera appliquée au fichier projets.htlm */
.main{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 0 0 5% 8%;
    width: 84vw;
}
.ContenuDiv1{
     margin-top: 5%;
}

.projet1{
    display: flex;
    justify-content: space-between
}
.imageParfum{
    width: 350px;
    margin-top: 2rem ;
}

p{
    width: 45vw;
}

main h1{
    margin: 0;
}

main h4{
    margin-bottom: 2%;
}

/*--La partie CSS qui sera appliquée au fichier contact.html--*/
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding : 5% 0 2% 0;
    margin: 4% 0 12% 2%;
}

.Contact-telephone{
    margin: 1.2rem 0 2rem 0 ;
}

.formulaire{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.form1{
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 2rem; 
}
.form2{
    display: flex;
    flex-wrap: wrap;
}
.first-name{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.last-name{
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.btn{
    background-color: greenyellow;
    width: 8rem;
    border: none;
    font-weight: bold;
    border-radius: 8%;
}

.msg{
    width: 120%;
    height: auto;
}

.Contact a {
    color: #000000;
}

/* L'affichage MEDIA QUERY ou MOBILE-FIRST */
@media(max-width: 675px){
    header{
        padding: 0 5%;
    }

/* la partie media query pour tous les fichiers */
    nav .nav-liste{
        display: grid;
        position: absolute;
        background:#555555 ;
        width: 100%;
        top: 99px;
        left: 0;
        transform: translateX(100%);
        z-index: 1;
        transition: .6s;
        opacity: 0.8;
    }
    
    nav .nav-liste .nav-item{
        padding-left: 35px;
    }

    nav .navbar-deplier{
        display: grid !important;
    }
    
    body{
        margin: 0;
        height: 0;
    }

/* le code qui s'applique au footer de tous les fichiers */
    footer h4{
        font-weight: bold;
        font-size: 20px;
    }

    .pied{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .footer h4{
        text-align: center;
    }

 /* cette partie du code mobile-first c'est pour le main du fichier page_d_acceuil */
    .entete-div{
        margin: 0;
        height: 5rem;
    }

    .entitre-titre{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    .principal{
        margin: 0;
        margin-bottom: 2rem;
    }

    .texte{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 2vw 4vw 0 4vw;
    }

    h1{
        display: block;
        text-align: center;
        width: 80px;
        font-size: 32px; 
    }

    h3{
        font-size: 25px; 
        width: 30px;
    }

    .principal-texte{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .principal-texte p{
        font-size: 20px;
        text-align: justify;
    }

    main .img{
        margin-top: 4%;
        width: 80vw;
        height: 90w; 
    }

    .button{
        margin-top: 20px;
    }

    .button{
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
    }
    
    .button-btn1, .button-btn2,.button-btn3{
       
        border: none;
        color: #fff;
        letter-spacing: 2px;
        clip-path:none;
        width: 100px;
        height: 50px;
        padding: 15px 0 0 0;
        margin: 0; 
        background-color: brown;
        border-radius: 20px;
        
    }
    
    .button-btn2 {
        padding-left: 22px ;
        background-color: rgb(7, 241, 148);
       
    }
    
    .button-btn3{
        padding-left: 18px ;
        background: rgb(255, 165, 0);
    }

    .container{
        display: flex;
        flex-direction: column;
    }

   .form1{
        display: flex;
        flex-direction: column;
   }

   .form2{
        display: flex;
        flex-direction: column;
   }
   
   
}

