
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/*--DEBUT du bloc CSS qui contient les éléments header et footer pour toutes les pages HTML--*/
.entete-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    padding: 0  3% 0 3%;
   
}
.entete-cv,.entete-projet{
    border-right: .1rem solid black;
    padding-right: .8rem;
   
}
.entete-nav, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 105%;
}

.pied{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid ;
    width: 85%;
    margin-left: 7%;
    align-items: center;
}
.icone-1{
    width: 30px;
}/*--FIN du bloc CSS qui contient les éléments header et footer pour toutes les pages HTML--*/

 

/*--La partie CSS qui sera appliquée au fichier page d'accueil.html--*/
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 0 2em 0;
}
.img{
    width: 350px;
    height:400px;
    clip-path: circle();
}

.principal-texte{
    display: inline-block;
    align-items: center;
    width: 500px;
    margin: 3px 0 3px 0;
}
 .texte{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vw 0 0 4vw;
 }

 main h3{
    width: 55%;
 }

 main .paragraphe{
    width: 100%;
    font-size: 2.5vh;
    text-align: justify;
 }

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.button-btn1, .button-btn2,.button-btn3{
    display: block;
    width: 105px;
    height: 105px;
    background-color: rgb(255, 8, 8);
    clip-path: circle();
    padding: 40px 20px 20px 30px;
    margin: 5px; 
    font-weight: bold;
}

.button-btn1{
    text-align: center;
}
.button-btn2{
    
    background: rgb(255, 217, 0);
}

.button-btn3{
    background-color: rgb(7, 7, 248);
}

/*--La partie CSS qui sera appliquée au fichier CV.html--*/
.structure{
    width: 80vw;
    position: relative;
    left: 10%;
    margin: 6% 0 0 0;
}
h1{
    width: 35vw;
    margin-bottom: 2vw;
}

.titre2{
    margin: 0% 0 8% 0;
    border-top: .1rem solid black;
}
.sous-titre{
    width: 50vw;
    margin: 1% 0 4% 0;
}
h5{
    width: 50vw;
    margin-bottom: 0.5%;
}
.petitpara{
    margin-top:0;
    margin-bottom: 3%;
}
.date1, .date2,.date3{
    position: absolute;
    top: 10%;
    left: 86%;
    width:12vw ;
}
.date2{
    top: 25%;
    left: 85%;
}
.date3{
    top: 50%;
    left: 84%;
}

.forme1{
    display: flex;
}

/*--La parti CSS qui sera appliquée au fichier projets.htlm */
.main{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 0 0 5% 8%;
    width: 84vw;
}
.ContenuDiv1{
     margin-top: 5%;
}

.projet1{
    display: flex;
    justify-content: space-between
}
.imageParfum{
    width: 350px;
    margin-top: 2rem ;
}

p{
    width: 45vw;
}

main h1{
    margin: 0;
}

main h4{
    margin-bottom: 2%;
}

/*--La partie CSS qui sera appliquée au fichier contact.html--*/
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding : 5% 0 2% 0;
    margin: 4% 0 12% 2%;
}

.Contact-telephone{
    margin: 1.2rem 0 2rem 0 ;
}

.formulaire{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.form1{
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 2rem; 
}
.form2{
    display: flex;
    flex-wrap: wrap;
}
.first-name{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.last-name{
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.btn{
    background-color: greenyellow;
    width: 8rem;
    border: none;
    font-weight: bold;
    border-radius: 8%;
}

.msg{
    width: 120%;
    height: auto;
}

